# Vendor Dependencies
vendor

# Env configurations
config.properties
docker-compose.override.yml

# Binaries
/cms-sao
*.out
*.o
*.exe

# Tests
*.test
reports

# Temporary files
.stash

# IDE's
.vscode
.idea