# General configurations
server.port=8080
server.log.request=false
server.response.tracedump=false

# CMS as dependency configurations
cms.url=http://localhost/

# PostgreSQL data source configurations
datasource.username=cmsuser
datasource.password=you-should-not-add-this-to-git
datasource.host=127.0.0.1
datasource.port=5432
datasource.sslmod=disable
