# General configurations
server.port=8080
server.log.request=false
server.response.tracedump=false

# CMS as dependency configurations
cms.url=http://localhost/

# PostgreSQL data source configurations
cms.datasource.name=cmsdb
cms.datasource.username=cmsuser
cms.datasource.password=you-should-not-add-this-to-git
cms.datasource.host=127.0.0.1
cms.datasource.port=5432
cms.datasource.sslmode=disable
